.heroBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 70vh; 
}

.heroBox img { 
    border-radius: 50%; 
    display: absolute;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: 25% 25%;
}
