.heroBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 70vh; 
}

.heroBox img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}