.loading h2 {
  position: relative;
  font-size: 5em;
  color: rgb(172, 153, 238);
  text-transform: uppercase;
  border-bottom: 10px solid #ffffff;
  line-height: initial;
}

.loading h2::before {
  content: attr(loading-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #1d0a94;
  overflow: hidden;
  border-bottom: 10px solid #1d0a94;
  animation: loading 5s linear infinite;
}

@keyframes loading {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}