.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 70px;

}

.navLogo img{
    height: 65px;
}

.navBar ul, li{
    display: inline-block;   
}

.navBar ul, li, a{  
    color: white;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    
}

.navBar ul li a:active {
    color: rgb(127, 126, 124);
    text-decoration: underline;
}

.navBar ul li a:hover {
    color: rgb(88, 87, 86);
    text-decoration: underline;
}

