.careerLine {
    margin: 25px 0 0;
}

.careerLine button {
    text-align: center;
    width: 100%;
    text-transform: capitalize;
    padding: 10px 5px 10px 0;
}

.careerLine button:hover {
    background-color: aliceblue;
}

.jobInfo {
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 18px;
}

.jobInfo i {
    margin: 0 5px 0;
}

.jobInfo a {
    display: flex;
    align-items: center;
    padding: 0;
    text-decoration: none;
}

.jobTextLeft {
    display: flex;
    width: 50%;
}

.jobTextRight {
    display: flex;
    justify-content: right;
    width: 50%;


}